.catalogItemName {
  display: flex;
  gap: 5px;
  align-items: baseline;
  margin: 10px 0px;
  /* margin-left: 30px; */
  input {
    font-size: 30px;
    font-weight: 600;
    min-width: 20px; /* Maximum width */
    padding: 4px;
    padding-left: 0px;
    border-radius: 5px;
    margin-left: 1px;
  }
  input:focus {
    outline: 2px solid var(--primary);
  }
  img {
    width: 20px;
    height: 20px;
  }
}
#night-mode .catalogItemName {
  input:focus {
    outline: 2px solid var(--inversion-color-night);
  }
}
