.catalogNavigationBar {
  display: flex;
  box-sizing: border-box;
  column-gap: 40px;
  width: 100%;
  margin-top: 70px;
  height: fit-content;
  /* background-color: rgb(230, 230, 230); */
  border-bottom: 2px solid rgb(185, 185, 185);
  /* border-radius: 5px; */
  justify-content: left;
  /* border-radius: 5px; */
  .bar-option-btn:hover {
    background-color: var(--main-tint-2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 0.5;
  }

  img.highlighted {
    filter: brightness(0) saturate(100%) invert(60%) sepia(86%) saturate(382%)
      hue-rotate(90deg) brightness(93%) contrast(94%);
  }
  .bar-option-btn.highlighted {
    opacity: 1;
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
    background-color: var(--primary-light);
    /* background-color: var(--main-tint-1); */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .bar-option-btn {
    height: 50px;
    translate: 0px 2px;
    font-size: 16px;
    font-weight: 550;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    padding-top: 8px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    opacity: 0.5;
    svg {
      min-width: 20px;
      min-height: 20px;
      max-width: 20px;
      min-width: 20px;
    }
    &.highlighted {
      .questionSVG {
        path,
        svg {
          fill: transparent;
          stroke: var(--primary);
        }
      }
      path,
      svg {
        fill: var(--primary);
      }
    }
    .bar-option {
      text-wrap: nowrap;
      /* color: var(--primary); */
    }
  }
}

#night-mode .catalogNavigationBar {
  .bar-option-btn:hover {
    background-color: var(--inversion-background-tint-2);
  }
  .bar-option-btn {
    path,
    svg {
    }
    &.highlighted {
      color: var(--inversion-color-night);
      /* background-color: var(--inversion-background-tint); */
      background-color: var(--inversion-color-night-dark);
      border-color: var(--inversion-color-night);
      
      path,
      svg {
        fill: var(--inversion-color-night);
      }

      && .questionSVG {
        path,
        svg {
          /* fill: red !important; */
          fill: transparent;
          stroke: var(--inversion-color-night);
        }
      }
    }
  }
}
