.catalogItemView {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* margin: 0px 100px; */
  .option-header {
    font-size: 20px;
    /* border-bottom: 2px solid var(--dashboard-grey); */
    padding-bottom: 16px;
  }
  .catalog-item-content {
    margin-top: 10px;
    display: flex;
    gap: 50px;
    height: 100%;
    .left-split {
      flex: 1;
      /* padding: 20px 0px; */
      display: flex;
      /* justify-content: center; */
    }
    .right-split {
      margin-top: 10px;
      width: 350px;
      font-weight: 550;
      .key {
        opacity: 0.6;
      }
      .link {
        text-decoration: underline;
        font-size: 18px;
        cursor: pointer;
      }
      .value {
        font-size: 20px;
      }
      .status {
        padding: 5px 10px;
        background-color: var(--primary);
        border-radius: 10px;
        color: rgb(255, 255, 255);
      }
      .score {
        border: 2px solid var(--primary);
        border-radius: 30px;
        width: 40px;
        height: 40px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
      }
      .row-container-wrapper {
        display: flex;

        align-items: start;
        border-bottom: 2px solid var(--dashboard-grey);
        .row-container {
          border: none;
          flex: 1;
        }
      }

      .row-container {
        /* height: 80px; */
        .value-container {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        .link-icon {
          width: 20px;
          height: 20px;
        }
        display: flex;
        flex-direction: column;
        gap: 5px;
        /* padding: 20px 5px; */
        padding: 15px 0px;
        border-bottom: 2px solid var(--dashboard-grey);
      }
    }
  }
  .name-container {
  }
  .badge {
    display: flex;
    gap: 6px;
    background-color: rgb(203, 218, 248);
    border: 2px solid rgb(91, 138, 224);
    padding: 5px;
    translate: 0px -4px;
    /* height: 12px; */
    img {
      width: 20px;
    }
    .badge-text {
      font-weight: 600;
      color: rgb(91, 138, 224);
    }
  }
  .catalogItemName-container {
    display: flex;
    align-items: baseline;
    gap: 30px;
  }

  .description-container {
    display: flex;
    gap: 10px;
    max-width: 500px;
    align-items: start;
    .infoSVG {
      rotate: 180deg;
      margin-top: 4px;
      min-width: 20px;
      min-height: 20px;
      path {
        fill: var(--primary);
      }
    }
    div {
      opacity: 0.6;
      font-style: italic;
    }
  }
}

/* night mode: */
#night-mode .catalogItemView {
  /* filter: invert(1); */
  /* background-color: var(--background-tint-night); */
  /* box-shadow: var(--shadow-sidebar-night); */
  .score {
    border-color: var(--inversion-color-night);
  }
  .status {
    background-color: var(--inversion-color-night);
  }
  .description-container {
  }
  .infoSVG {
    path {
      fill: var(--inversion-color-night);
    }
  }
}
