.catalog{
    /* background-color: red; */
    border: 2px solid var(--dashboard-grey-hover);
    height: 100%;
    /* padding: 10px; */
    border-radius: 10px;
    overflow-x: scroll;
    .catalog--keys-container{
        display: flex;
        width: 100%;
        user-select: none;
        .catalog--key:not(:last-child){
            border-right: 2px solid var(--dashboard-grey-hover);
        }
        .catalog--key{
             /* border: 2px solid var(--dashboard-grey-hover); */
            padding: 15px;
            display: flex;
            gap: 10px;
            align-items: center;
            font-weight: 600;
            border-bottom: 2px solid var(--dashboard-grey-hover);
            background-color: var(--dashboard-grey);
            flex:1;
            .sort-container{
                display: flex;
                gap: 3px;
                flex-direction: column;
                .bottom-sort{
                    rotate: 180deg;
                }
                .sort-icon{
                    width: 10px;
                }
            }
        }
    }
}