.Documentation {
  .document-title {
    /* text-decoration: underline; */
    /* font-weight: 500; */
  }

  .external-documents-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .service-aliases-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .service-aliases-container {
      display: flex;
      flex-direction: column;
      gap: 0px;
      .alias {
      }
      .description {
        color:grey;
      }
    }
  }

  #night-mode && {
    filter: invert(1);
    color: white;
    a {
      color: white;
    }
    .linkSVG,
    .gitHubSVG {
      filter: invert(1);
    }
  }
}
