.DropDown {
  display: flex;
  gap: 5px;
  box-sizing: border-box;
  height: 36px;
  padding: 10px 10px;
  border-radius: 10px;
  justify-content: center;
  flex-direction: c;
  align-items: center;
  font-weight: 500;
  position: relative;
  color: black;
  font-family: "DM Sans", serif;
  font-size: 14px;
  background-color: rgb(245, 245, 245) !important;
  cursor: pointer;
  .dropdown-label {
    text-wrap: nowrap;
  }  border: 1px solid rgb(216, 216, 216);

  button {
    background-color: rgb(245, 245, 245);
    border: none;
  }
  .dropdown-icon {
    width: 20px;
    translate: 0px 1px;
    transition: .2s ease-in-out all;
  }

  .dropdown-list {
    animation: dropdown 0.2s ease-in-out;
    z-index: 2;
    /* background-color: var(--dashboard-grey);*/
    background-color: white;
    position: absolute;
    min-width: 100%;
    top: 40px;
    left: 0px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgb(175, 175, 175);
    .option-btn:hover {
      background-color: var(--primary-light);
    }
    .option-btn {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 5px;
      min-width: 100%;
      /* font-weight: 600; */
      .option-label {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-right: 5px;
        justify-content: left;
        border-radius: 5px;
        width: 100%;
        /* padding: 5px 5px; */
        color: black;
        font-family: "DM Sans", serif;
        font-weight: 500;
        font-size: 14px;
        gap: 5px;
        img {
          background-color: var(--primary);
          padding: 4px 4px;
          margin: 5px;
          cursor: pointer;
          width: 10px;
          height: 10px;
          border-radius: 5px;
        }
      }
    }
  }
}
