.ReadMoreText {
  p {
    letter-spacing: -0.4px;
    /* line-height: 22px; */
    /* font-style: italic; */
    opacity: .8;
    margin-top: 0px;
  }
  button {
    opacity: 0.7;
    &&:hover {
      opacity: 1;
    }
  }
  #night-mode && {
    button {
      color: rgb(255, 255, 255);
    }
    p {
      /* color: rgb(161, 161, 161); */
    }
  }
}
