.catalog-searchbar:focus-within {
  border: 2px solid var(--primary);
}
.catalog-searchbar {
  color: rgb(70, 70, 70);
  z-index: 1;
  width: 60%;
  max-width: 900px;
  border: 2px solid transparent;
  background-color: var(--dashboard-grey);
  padding: 3px 15px;
  /* max-width: 500px; */
  border-radius: 30px;
  display: flex;
  align-items: center;
  font-size: 16px;
  z-index: 5;
  font-weight: 600;
  .catalog-searchbar-container {
    display: flex;
    align-items: center;
  }
  .search-filter-container:hover {
    background-color: var(--dashboard-grey-hover);
  }
  .search-filter-container {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    position: relative;
    padding: 5px;
    width: 140px;
    border-radius: 5px;
    user-select: none;
    border: 2px solid transparent;
    &.highlighted {
      border: 2px solid var(--primary);
    }
    /* width: 100px; */

    .dropdown-list {
      animation: dropdown 0.2s ease-in-out;

      overflow: hidden;
      background-color: var(--dashboard-grey);
      position: absolute;
      top: 45px;
      left: 0px;
      border-radius: 5px;
      /* box-shadow: 0px 0px 5px 0px rgb(175, 175, 175); */
      box-shadow: 0px 4px 12px 0px rgba(41, 41, 41, 0.05);
      animation: fadeIn 0.1s ease-in-out;

      .filter-option-container:hover {
        /* background-color: var(--primary-light); */
      }
      .filter-option-container {
        font-weight: 500;
        display: flex;
        align-items: center;
        padding: 2px 5px;
        gap: 5px;
        .dropdown-checkbox {
          background-color: rgb(255, 255, 255);
          padding: 4px 4px;
          margin: 5px;
          cursor: pointer;
          width: 10px;
          height: 10px;
          border-radius: 5px;
          border: 1px solid rgb(207, 207, 207);
          &.checked {
            background-color: var(--primary);
            border: 1px solid transparent;
          }
        }
      }
    }
    .dropdown {
      translate: 0px 1px;
      /* transition: .2s ease-in-out all; */
    }
  }

  .splitter {
    height: 28px;
  }
  img {
    width: 20px;
    transition: 0.2s ease-in-out all;
  }
  .search-icon {
    /* margin-right: 10px; */
    padding: 0px 5px;
  }
  input {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: black;
    width: 110px;
  }
  .filter-selection {
    white-space: nowrap;
  }
  input:focus {
    /* outline: rgb(151, 151, 151) 1px solid; */
    outline: none;
    color: black;
  }
}

#night-mode .catalog-searchbar {
  &:focus-within {
    border: 2px solid var(--inversion-color-night);
  }
  /* background-color: var(--background-tint-night) !important; */
  .search-filter-container {
    &.highlighted {
      border-color: var(--inversion-color-night);
    }
  }
  .dropdown-list{
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  }
  .checked {
    background-color: var(--inversion-color-night);
    border: 1px solid transparent;
  }
}