.catalog-searchbar:focus-within {
  border: 2px solid var(--primary);
}
.catalog-searchbar {
  color: var(--main-color-2);
  z-index:2;
  width: 100%;
  max-width: 600px;
  height: 48px;
  box-sizing: border-box;
  border: 2px solid transparent;
  background-color: var(--main-tint-1);
  padding: 3px 15px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  .catalog-searchbar-container {
    display: flex;
    align-items: center;
  }
  .search-filter-container:hover {
    background-color: var(--main-tint-2);
  }
  .search-filter-container {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    position: relative;
    padding: 5px;
    width: 140px;
    border-radius: 5px;
    user-select: none;
    border: 2px solid transparent;
    &.highlighted {
      border: 2px solid var(--primary);
    }
    /* width: 100px; */

    .dropdown-list {
      animation: fadeIn 0.15s ease-in-out;
      overflow: hidden;
      background-color: var(--main-tint-1);
      position: absolute;
      top: 45px;
      left: 0px;
      border-radius: 5px;
      /* box-shadow: 0px 0px 5px 0px rgb(175, 175, 175); */
      box-shadow: var(--box-shadow);
      border: 1px solid var(--main-tint-2);

      .filter-option-container:hover {
        /* background-color: var(--primary-light); */
        background-color: var(--main-tint-2);
      }
      .filter-option-container {
        font-weight: 500;
        display: flex;
        align-items: center;
        padding: 2px 5px;
        gap: 5px;
        .dropdown-checkbox {
          background-color: white;
          padding: 4px 4px;
          margin: 5px;
          cursor: pointer;
          width: 10px;
          height: 10px;
          border-radius: 5px;
          border: var(--border);
          &.checked {
            background-color: var(--primary);
            border: 1px solid transparent;
          }
        }
      }
    }
   
    .dropdown {
      translate: 0px 1px;
      transition: 0.2s ease-in-out all;
      svg,path {
        fill: var(--main-color-2);
      }
    }
  }

  .splitter {
    height: 28px;
  }
  

  img,
  svg {
    width: 20px;
  }

  .search-icon {
    /* margin-right: 10px; */
    padding: 0px 5px;
  }
  input {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
    width: 110px;
    margin-left: 10px;
  }
  .filter-selection {
    white-space: nowrap;
  }
  input:focus {
    /* outline: rgb(151, 151, 151) 1px solid; */
    outline: none;
    color: rgb(0, 0, 0);
  }
}

#night-mode .catalog-searchbar {
  background-color: var(--inversion-background-tint);
  &:focus-within {
    border: 2px solid var(--inversion-color-night);
  }
  /* background-color: var(--background-tint-night) !important; */
  .search-filter-container {
    &&:hover{
      background-color: var(--inversion-background-tint-1);
    }
    &.highlighted {
      border-color: var(--inversion-color-night);
    }
  }
  .filter-option-container:hover {
    /* background-color: var(--primary-light); */
    background-color: var(--inversion-background-tint-2);
  }
  .dropdown-list {
    background-color: var(--inversion-background-tint);
    box-shadow: var(--inversion-box-shadow);
    border: 1px solid var(--inversion-background-tint-2);
  }
  .dropdown-checkbox {
    border: var(--inversion-border);
    &.checked {
      background-color: var(--inversion-color-night);
      svg,
      path {
        /* stroke: rgb(255, 255, 255); */
      }
    }
    &:not(.checked) {
      background-color: var(--inversion-background);
      svg,
      path {
        stroke: var(--inversion-background);
      }
    }
  }
}
