/* @media (max-width: 725px) {
    .sidebar{
        display: none;
        background-color: red;
        outline: red 2px solid;
    }
  } */

[sidebar-state="false"] {
  .sidebar {
    /* margin-right: 183px; */
  }
}

.sidebar {
  /* min-width: 87px; */
  /* height: 100%; */
  z-index: 3;
  position: fixed;
  top: 10px;
  left: 10px;
  flex-direction: column;
  overflow-x: hidden;
  display: flex;
  height: calc(100% - 20px);
  background-color: var(--main-tint-1);
  /* padding: 20px; */
  border-radius: 15px;
  /* border: 1px solid rgb(228, 228, 228); */
  box-shadow: var(--box-shadow);
  border: var(--border);
  box-sizing: border-box;
  /* z-index: 100; */

  .bell-icon {
    width: 20px;
  }
  .username-icon-container {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 15px 30px;

    .user-icon {
      width: 30px;
    }
    .sidebar-username {
      font-weight: 500;
      text-wrap: nowrap;
      color: black;
    }
  }
  .top {
    /* height: 100px; */
    color: var(--main-color-2);

    padding: 20px 20px;
    .top-welcome {
      text-wrap: nowrap;
      margin: 3px;
      margin-top: 20px;
      font-weight: 700;
      /* border-bottom: 1px solid var(--dashboard-shadow); */
      padding-bottom: 20px;
      /* margin-bottom: 15px; */
    }
    .border {
      width: 100%;
      border-bottom: 1px solid var(--dashboard-shadow);
    }
    .top--icon-header-container {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .top--header {
      font-weight: 700;
      font-size: 24px;
    }
    .logo {
      min-width: 40px;
      max-width: 40px;
      min-height: 40px;
      max-height: 40px;
      /* fill: white; */
      path {
        stroke: var(--main-color-2);
        /* fill: white; */
      }
    }
  }

  .options-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .options-list {
    }
  }
  .option {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px 10px;
    /* border-top: 1px solid var(--dashboard-grey-hover); */
    /* transition: 0.4s ease-in-out; */
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 16px;
    font-weight: 600;
    border-radius: 15px;
    text-wrap: nowrap;
    overflow: hidden;
    /* background-color: rgb(224, 224, 224); */
    height: 26px;
    opacity: 0.5;
    border: 1px solid transparent;

    svg {
      min-width: 20px;
      min-height: 20px;
      max-width: 20px;
      max-height: 20px;
    }
  }
  .option:last-child {
    /* border-bottom: 1px solid  var(--dashboard-grey-hover); */
  }
  .option:hover {
    background-color: var(--main-tint-2);
    /* transition: 0.15s ease-in-out; */
    cursor: pointer;
  }
  #selected {
    background-color: rgb(230, 230, 230);
  }

  .logo {
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    /* fill: white; */
    path {
      fill: white;
    }
  }
  .highlighted {
    /* color: var(--primary); */
    /* color: white; */
    color: var(--primary);
    opacity: 1;
    /* background-color: var(--primary) !important; */
    /* background-color: var(--main) !important; */
    /* background-color: var(--main) !important; */
    background-color: transparent !important;
    border: 1px solid var(--primary);
  }
  .highlighted svg {
    fill: white;

    path {
      /* fill: white; */
      fill: var(--primary);
    }
  }
}

/* night mode: */
#night-mode .sidebar {
  /* background-color: var(--night-background);
  color: var(--night-text-color);
  .option:hover{
    background-color: var( --night-background-hover);
  }
  .false {
    color: white;
    path {
      fill: white;
    }
    svg {
      fill: var(--night-text-color);
    }
  }
  .logo {
    path {
      stroke: var(--night-text-color);
    }
  } */

  background-color: var(--inversion-background-tint);
  box-shadow: 0px 0px 5px 0px var(--inversion-background);
  border: var(--inversion-border);

  .option:hover {
    background-color: var(--inversion-background-tint-2);
  }
  .logo {
    filter: invert(1);
    path {
      fill: var(--night-background-tint);
      stroke: rgb(112, 112, 112);
    }
  }
  .option {
    border: 2px solid transparent;
  }
  .option.highlighted {
    svg {
      path {
        /* fill: rgb(255, 255, 255); */
        fill: var(--primary);

        /* fill: var(--inversion-color-night); */
      }
    }
  }
  .highlighted {
    filter: invert(1);
    background-color: var(--night-background) !important;
    /* color: var(--primary-light) */
    /* color: white; */
    color: var(--primary);
    border: 2px solid transparent;
    /* background-color: var(--inversion-background-tint-2) !important; */
  }
}
