:root {
  /* font-family: "Inter", serif; */
  font-family: "DM Sans", serif;

  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  /* background-color: #242424; */
  /* background-color: rgb(255, 255, 255); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dashboard-grey: #eeeeee;
  --dashboard-shadow: rgb(187, 187, 187);
  --dashboard-grey-hover: rgb(223, 223, 223);
  --primary: #2dce6b;
  --primary-light: rgb(224, 255, 236);

  
  --main:#fcfcfc;
  --main-tint-1: #f0f0f0;
  --main-tint-2: #e0e0e0;
  --main-color-1: black;
  --main-color-2:rgb(54, 54, 54); 


  /* --main: #eceef0;
  --main-tint-1: #fcfcfc;
  --main-tint-2: #dce1e6;
  --main-color-1: black;
  --main-color-2:rgb(70, 70, 70);  */

  /*   OLD:
  --main: white;
  --main-tint-1:#f1f1f1;
  --main-tint-2:#dfdfdf;
    --border: 1px solid var(--main-tint-2);

   */

  --box-shadow: 0px 4px 8px rgba(48, 48, 48, 0.12);
  --border: 1px solid rgb(216, 215, 215);

  
  /* dark light mid */
  /* light dark mid */
  /* main tint 2 tint 1 */

  /* --background-night: #070808;
  --sidebar-background-night: #0e0e0e;
  --sidebar-highlight-night: #202020;
  --background-tint-night: #1a1e20; */
  /* --shadow-sidebar-night: 0px 4px 12px 0px rgba(0, 0, 0, 1); */

  /* invert target color to apply accurate styling */
  --inversion-color-night: #d33094;
  --inversion-color-night-shade: rgba(145, 61, 111, 0.9);
  --inversion-background: #e6e6e6;
  --inversion-background-tint: #dfdfdf;
  --inversion-background-tint-2: #d1d1d1;
  --inversion-color-2: #c9c9c9;

  --inversion-box-shadow: 0 4px 8px rgba(255, 255, 255, 0.12);
  --inverstion-text-highlight: #ff9f00;
  --inversion-border: 1px solid var(--inversion-background-tint-2);

  --night-background: #191919;
  --night-background-tint: #202020;
  --night-background-tint-2: #2e2e2e;

  --night-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);

  /* --night-background: #161718;
  --night-background-tint: #40474b;
  --night-text-color: white;
  --night-background-hover: #3b3c3d; */
}

html,
body {
  /* height: 97.3vh; */
  height: 100%;
  margin: 0px;
  width: 100%;
}
button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#root {
  /* background-color: rgb(245, 130, 130); */
  height: 100%;
  width: 100%;
  padding: none;
  margin: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-in; /* Start slow */
  }
  50% {
    transform: rotate(180deg);
    animation-timing-function: ease-out; /* Speed up */
  }
  100% {
    transform: rotate(360deg);
    animation-timing-function: ease-in; /* Slow down again */
  }
}
@keyframes fade-in {
  100% {
    background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.5)
      ),
      url("./assets/universe.jpg");
  }
  50% {
    background: linear-gradient(
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.8)
      ),
      url("./assets/universe.jpg");
  }
  0% {
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)),
      url("./assets/universe.jpg");
  }
}

@keyframes shrinkWidth {
  from {
    min-width: 270px;
  }
  to {
    min-width: 87px;
    max-width: 87px;
  }
}
@keyframes growWidth {
  from {
    min-width: 87px;
    max-width: 87px;
  }
  to {
    min-width: 270px;
  }
}
